In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
csv_url='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [7]:
df1=pd.read_csv(csv_url,header=None)

In [8]:
print(df1)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']

In [10]:
df1=pd.read_csv(csv_url,names=col_names)

In [11]:
print(df1)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [12]:
df1.head(5)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [13]:
df1.tail(5)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [14]:
df1.index

RangeIndex(start=0, stop=150, step=1)

In [15]:
df1.columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

In [16]:
df1.shape

(150, 5)

In [17]:
df1.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [18]:
df1.columns.values

array(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'], dtype=object)

In [19]:
df1.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [20]:
df1['Petal_Length']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: Petal_Length, Length: 150, dtype: float64

In [21]:
df1.sort_index(axis=0,ascending=False)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
149           5.9          3.0           5.1          1.8  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
..            ...          ...           ...          ...             ...
4             5.0          3.6           1.4          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
0             5.1          3.5           1.4          0.2     Iris-setosa

[150 rows x 5 columns]

In [22]:
df1.sort_index(axis=1,ascending=True)

     Petal_Length  Petal_Width  Sepal_Length  Sepal_Width         Species
0             1.4          0.2           5.1          3.5     Iris-setosa
1             1.4          0.2           4.9          3.0     Iris-setosa
2             1.3          0.2           4.7          3.2     Iris-setosa
3             1.5          0.2           4.6          3.1     Iris-setosa
4             1.4          0.2           5.0          3.6     Iris-setosa
..            ...          ...           ...          ...             ...
145           5.2          2.3           6.7          3.0  Iris-virginica
146           5.0          1.9           6.3          2.5  Iris-virginica
147           5.2          2.0           6.5          3.0  Iris-virginica
148           5.4          2.3           6.2          3.4  Iris-virginica
149           5.1          1.8           5.9          3.0  Iris-virginica

[150 rows x 5 columns]

In [25]:
df1.sort_values(by="Sepal_Length")

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
13            4.3          3.0           1.1          0.1     Iris-setosa
42            4.4          3.2           1.3          0.2     Iris-setosa
38            4.4          3.0           1.3          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
41            4.5          2.3           1.3          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
122           7.7          2.8           6.7          2.0  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica

[150 rows x 5 columns]

In [23]:
df1.iloc[3]

Sepal_Length            4.6
Sepal_Width             3.1
Petal_Length            1.5
Petal_Width             0.2
Species         Iris-setosa
Name: 3, dtype: object

In [24]:
df1.iloc[0:5]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [26]:
df1.loc[:,["Sepal_Width", "Petal_Width"]]

     Sepal_Width  Petal_Width
0            3.5          0.2
1            3.0          0.2
2            3.2          0.2
3            3.1          0.2
4            3.6          0.2
..           ...          ...
145          3.0          2.3
146          2.5          1.9
147          3.0          2.0
148          3.4          2.3
149          3.0          1.8

[150 rows x 2 columns]

In [27]:
df1.iloc[:120,:]

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
115           6.4          3.2           5.3          2.3  Iris-virginica
116           6.5          3.0           5.5          1.8  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
119           6.0          2.2           5.0          1.5  Iris-virginica

[120 rows x 5 columns]

In [31]:
df1.iloc[:,:5]

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [30]:
df1.iloc[:3,:6]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

## Checking of Missing Values in Dataset

In [35]:
dataframe = {
'Name':['George','Andrea','micheal','maggie','Ravi','Xien','Jalpa',np.nan],
'State':['Arizona','Georgia','Newyork','Indiana','Florida','California',np.nan,np.nan],
'Gender':["M","F","M","F","M","M",np.nan,np.nan],
'Score':[63,48,56,75,np.nan,77,np.nan,np.nan]
}

In [36]:
dataframe

{'Name': ['George',
  'Andrea',
  'micheal',
  'maggie',
  'Ravi',
  'Xien',
  'Jalpa',
  nan],
 'State': ['Arizona',
  'Georgia',
  'Newyork',
  'Indiana',
  'Florida',
  'California',
  nan,
  nan],
 'Gender': ['M', 'F', 'M', 'F', 'M', 'M', nan, nan],
 'Score': [63, 48, 56, 75, nan, 77, nan, nan]}

In [37]:
dataframe = pd.DataFrame(dataframe1,columns=['Name','State','Gender','Score'])
print(dataframe)

      Name       State Gender  Score
0   George     Arizona      M   63.0
1   Andrea     Georgia      F   48.0
2  micheal     Newyork      M   56.0
3   maggie     Indiana      F   75.0
4     Ravi     Florida      M    NaN
5     Xien  California      M   77.0
6    Jalpa         NaN    NaN    NaN
7      NaN         NaN    NaN    NaN

In [38]:
dataframe.isnull()

    Name  State  Gender  Score
0  False  False   False  False
1  False  False   False  False
2  False  False   False  False
3  False  False   False  False
4  False  False   False   True
5  False  False   False  False
6  False   True    True   True
7   True   True    True   True

In [39]:
dataframe.isnull().any()

Name      True
State     True
Gender    True
Score     True
dtype: bool

In [40]:
dataframe.isnull().sum().sum()

8

In [41]:
dataframe.isnull().sum(axis = 0)

Name      1
State     2
Gender    2
Score     3
dtype: int64

In [45]:
dataframe.isnull().sum(axis = 1)

0    0
1    0
2    0
3    0
4    1
5    0
6    3
7    4
dtype: int64

In [42]:
dataframe.isnull().sum()

Name      1
State     2
Gender    2
Score     3
dtype: int64

In [46]:
dataframe.isna().sum()

Name      1
State     2
Gender    2
Score     3
dtype: int64

In [47]:
dataframe.Score.isnull().sum()

3

In [43]:
dataframe.groupby(['Gender'])['Score'].apply(lambda x:x.isnull().sum())

Gender
F    0
M    1
Name: Score, dtype: int64

In [44]:
dataframe.groupby(['State'])['Score'].apply(lambda x:x.isnull().sum())

State
Arizona       0
California    0
Florida       1
Georgia       0
Indiana       0
Newyork       0
Name: Score, dtype: int64

## Data Normalization

In [52]:
from sklearn import preprocessing
from sklearn.datasets import load_iris

In [53]:
iris = load_iris()

In [55]:
df1 = pd.DataFrame(iris.data, columns=iris.feature_names)

In [56]:
df1.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [58]:
x=df1[['sepal length (cm)']].values.astype(float)

In [59]:
min_max_scaler = preprocessing.MinMaxScaler()

In [60]:
x_scaled = min_max_scaler.fit_transform(x)

In [61]:
df_normalized = pd.DataFrame(x_scaled)

In [63]:
df_normalized

            0
0    0.222222
1    0.166667
2    0.111111
3    0.083333
4    0.194444
..        ...
145  0.666667
146  0.555556
147  0.611111
148  0.527778
149  0.444444

[150 rows x 1 columns]

## Panda functions for handling categorical variables

### a. Label Encoding

In [70]:
csv_url='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [71]:
df2=pd.read_csv(csv_url,header=None)

In [72]:
df2

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [73]:
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']

In [74]:
df2=pd.read_csv(csv_url,names=col_names)

In [75]:
df2

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [76]:
df2['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [77]:
label_encoder = preprocessing.LabelEncoder()

In [79]:
df2['Species'] = label_encoder.fit_transform(df2['Species'])

In [81]:
df2['Species'].unique()

array([0, 1, 2])